<main>
  <h2 class="titulo">INDICAÇÕES DE SUPLEMENTOS</h2>

  <section class="topicos1">

    <div class="categoria">
      <img src="images/creatina.jpg">
      <div class="descricao-titulo">
        <h3>Creatina</h3>
      </div>
    </div>

    <div class="categoria">
      <img src="images/pré-treino.png">
      <div class="descricao-titulo">
        <h3>Pré-Treino</h3>
      </div>
    </div>

    <div class="categoria">
      <img src="images/whey.jpg">
      <div class="descricao-titulo">
        <h3>Proteínas</h3>
      </div>
    </div>

    <div class="categoria">
      <img src="images/vitaminas.jpg">
      <div class="descricao-titulo">
        <h3>Multi Vitaminas</h3>
      </div>
    </div>

    <div class="categoria">
      <img src="images/ypro.jpg">
      <div class="descricao-titulo">
        <h3>Bebidas Proteicas</h3>
      </div>
    </div>
  </section>

  <h2 class="titulo"></h2>

  <section class="topicos2">

      <div class="produto" *ngFor="let produto of produtos">
        <img [src]="produto.imagem">

        <div class="produto-texto">
          <h3>{{ produto.nome }}</h3>
        </div>

        <div class="produto-preco">
          <p><b>{{ produto.preco | currency:'BRL':'symbol':'1.2-2'}}</b></p>
        </div>

        <button [routerLink]="['/produto', produto.id]">
          Comprar
        </button>
      </div>
    </section>
</main>