<main>
  <h2 class="titulo">INDICAÇÕES DE SUPLEMENTOS</h2>

  <section class="produtos">

    <div class="produto">
      <img src="images/creatina.jpg">
      <div class="descricao-titulo">
        <h3>Creatina</h3>
      </div>
    </div>

    <div class="produto">
      <img src="images/pré-treino.png">
      <div class="descricao-titulo">
        <h3>Pré-Treino</h3>
      </div>
    </div>

    <div class="produto">
      <img src="images/whey.jpg">
      <div class="descricao-titulo">
        <h3>Proteínas</h3>
      </div>
    </div>

    <div class="produto">
      <img src="images/vitaminas.jpg">
      <div class="descricao-titulo">
        <h3>Multi Vitaminas</h3>
      </div>
    </div>

    <div class="produto">
      <img src="images/ypro.jpg">
      <div class="descricao-titulo">
        <h3>Bebidas Proteicas</h3>
      </div>
    </div>

  </section>
</main>