<main>
    
    <h2 class="titulo">PRODUTOS - CORRIDA</h2>
    <section class="topicos2">
        @for (produto of produtos;track produto.codigo){
        @if (produto.categoria == "Corrida"){
        <div class="produto">
            <img [src]="produto.imagem">

            <div class="produto-texto">
                <h3>{{ produto.nome }}</h3>
            </div>

            <div class="produto-preco">
                <p><b>{{ produto.preco | currency:'BRL':'symbol':'1.2-2'}}</b></p>
            </div>

            <button [routerLink]="['/produto', produto.id]">
                Comprar
            </button>
        </div>
    }
    }
    </section>
</main>