* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

body {
    background: #f5f5f5;
}

.texto {
    font-size: 22px;
    position: absolute;
    top: 8%;
    left: 20px;
    color: white;
}

.texto button {
    background: red;
    border: none;
    padding: 10px 20px;
    color: white;
    cursor: pointer;
}

.titulo {
    background-color: #7e0000;
    color: white;
    padding: 20px;
    text-align: center;
}

.produtos {
    display: flex;
    gap: 20px;
    padding: 20px;
    border-radius: 10px;
    justify-content: center;
}

.produto {
    background: white;
    display: flex;
    flex-direction: column;
    padding: 15px;
    border: 2px solid gray;
    border-radius: 10px;
    width: 400px;
    height: 540px;
    text-align: left;
    transition: 0.3s;
    cursor: pointer;
}

.produto img {
    width: 100%;
    height: 200px;
    object-fit: cover;
}

.descricao-titulo {
    margin-top: 15px;
}

.descricao {
    margin-top: 10px;
    flex-grow: 1; /* 🔥 isso resolve tudo */
}

.preco-cortado {
    color: gray;
    text-decoration: line-through;
}

.preco-parcelado {
    font-size: 14px;
}

.produto-botao {
    margin-top: 10%;
}

.produto:hover {
    transform: scale(1.05);
}

.produto img {
    width: 100%;
}

footer {
    background: #7e0000;
    text-align: center;
    text-decoration: none;
    padding: 15px;
}

.footer a {
    text-decoration: none;
    color: white;
}