    <main>
        <h2 class="titulo">CALÇADOS</h2>
        <section class="produtos">
            <div class="produto">
                <img src="images/tenis-masculino.png">
                <div class="descricao-titulo">
                    <h3>Masculino</h3>
                </div>
            </div>
            <div class="produto">
                <img src="images/tenis-feminino.png">
                <div class="descricao-titulo">
                    <h3>Feminino</h3>
                </div>
            </div>
            <div class="produto">
                <img src="images/tenis-infantil.png">
                <div class="descricao-titulo">
                    <h3>Infantil</h3>
                </div>
            </div>
            <div class="produto">
                <img src="images/tenis-sneakers.png">
                <div class="descricao-titulo">
                    <h3>Sneakers</h3>
                </div>
            </div>
        </section>
    </main>
