    <main>
        <h2 class="titulo"></h2>
        <section class="produtos">
            <div class="produto">
                <img src="images/boladebasquete.jpg" style="margin-top: 20%;">
                <div class="descricao-titulo">
                    <h3>Bolas de Basquete</h3>
                </div>
            </div>
            <div class="produto">
                <img src="images/tenisdebasquete.jpg" style="margin-top: 40%;">
                <div class="descricao-titulo">
                    <h3>Tênis de Basquete</h3>
                </div>
            </div>
            <div class="produto">
                <img src="images/camisadebasquete.png" style="margin-top: 20%;">
                <div class="descricao-titulo">
                    <h3>Camisas de Basquete</h3>
                </div>
            </div>
            <div class="produto">
                <img src="images/acessoriosdebasquete.jpg" style="margin-top: 45%;">
                <div class="descricao-titulo">
                    <h3>Acessórios</h3>
                </div>
            </div>
        </section>
        <h2 class="titulo"></h2>
    </main>