    <footer>
        <div class="bloco">
            <div class="centro">
                <img src="images/entrega-rapida.png" alt="">
                <h4>ENTREGA RÁPIDA</h4>
                <p>Agilidade e Segurança</p>
            </div>
            <div class="centro">
                <img src="images/atendimento-ao-cliente.png" alt="">
                <h4>SUPORTE AO CLIENTE</h4>
                <p>Eficiência e confiabilidade garantidas</p>
            </div>
            <div class="centro">
                <img src="images/cupom.png" alt="">
                <h4>PRIMEIRA COMPRA</h4>
                <p>Utilize o cupom "PRIMEIRA5"</p>
            </div>
            <div class="centro">
                <img src="images/verificado.png" alt="">
                <h4>COMPRA SEGURA</h4>
                <p>Ambiente 100% seguro</p>
            </div>
        </div>
        <div class="bloco2">
            <div class="justificado">
                <h4>CENTRAL DE ATENDIMENTO</h4>
                <p>Atendimento: seg à sáb. 9h às 18h</p>
                <p>Contato: 98546-2578</p>
                <p>Email:brotherimports@gmail.com</p>
            </div>
            <div class="justificado">
                <h4>LOJA VERIFICADA</h4>
                <img src="images/loja-verificada.png">
            </div>
            <div class="justificado2">
                <h4>FORMAS DE PAGAMENTO</h4>
                <img src="images/visa.png">
                <img src="images/mastercard.png">
                <img src="images/amex.png">
                <img src="images/pix.png">
            </div>
        </div>
        <div class="bloco3">
            <div class="centro">
                <p>Brother Imports | Todos os direitos reservados.</p>
                <p>Rua Matarazzo, N° 268, Bom Retiro, São Paulo - SP | CNPJ:23.954.844/0018-15</p>
            </div>
        </div>
    </footer>

