<main>
    <div class="carrinho">
        <div class="meu-carrinho">
            <h2>Meu carrinho</h2>
            <div class="caixa-carrinho" *ngFor="let produto of carrinho">
                <div class="produto">
                    <div class="produto-esquerda">
                        <img [src]="produto.produto.imagem" alt="Tênis">
                        <div>
                            <h3>{{produto.produto.nome}}</h3>
                            <p class="cod">Ref: {{produto.produto.id}}</p>
                            <p>Vendido e entregue por <b>Brothers Imports</b></p>
                            <p>Tamanho: 40</p>
                            <p>Cor: Branco/Azul</p>
                        </div>
                    </div>
                </div>
                <div class="linha">
                    <div class="quantidade">
                        <span>Quantidade:</span>
                        <button>-</button>
                        <input type="text" [value]="produto.quantidade">
                        <button>+</button>
                    </div>
                    <div class="preco">
                        <p>{{ produto.produto.preco | currency:'BRL':'symbol':'1.2-2'}}</p>
                    </div>
                </div>
            </div>
            <div class="frete">
                <h2>Consultar frete e prazo de entrega</h2>
                <div class="caixa-frete">
                    <input type="text" placeholder="Digite seu CEP">
                    <button>Consultar</button>
                </div>
            </div>
        </div>
        <div>
            <h2>Resumo da compra</h2>
            <div class="resumo">
                <div class="linha-resumo">
                    <span>Subtotal ({{carrinho.length}})</span>
                    <strong>{{ total | currency:'BRL':'symbol':'1.2-2'}}</strong>
                </div>
                <div class="linha-resumo">
                    <span>Frete</span>
                    <strong>Grátis</strong>
                </div>
                <div class="linha-resumo">
                    <span>Cupom de desconto</span>
                    <a href="">Adicionar</a>
                </div>
                <hr>
                <div class="linha-resumo" style="margin-top:20px">
                    <p>Valor total</p>
                    <p><strong>{{ total | currency:'BRL':'symbol':'1.2-2'}}</strong></p>
                </div>
                <button class="finalizar" (click)="checarCarrinho()">Finalizar Compra</button>
            </div>
        </div>
    </div>
</main>