<main>
    <h2 class="titulo">DESTAQUES DO VÔLEI</h2>

    <section class="produtos">

        <div class="produto">
            <img src="images/bolavolei.webp">

            <div class="descricao-titulo">
                <h3>Controle e Precisão</h3>
            </div>

            <p class="descricao">
                As bolas profissionais de vôlei oferecem maior controle durante saques, levantamentos e ataques,
                garantindo melhor desempenho dentro da quadra.
            </p>
        </div>

        <div class="produto">
            <img src="images/tenisvolei.jpg">

            <div class="descricao-titulo">
                <h3>Mais Estabilidade</h3>
            </div>

            <p class="descricao">
                Os tênis específicos para vôlei possuem amortecimento e suporte lateral, ajudando na impulsão,
                aterrissagem e movimentação rápida durante as jogadas.
            </p>
        </div>

        <div class="produto">
            <img src="images/joelheiravolei.jpg">

            <div class="descricao-titulo">
                <h3>Proteção nas Defesas</h3>
            </div>

            <p class="descricao">
                As joelheiras absorvem impactos e aumentam a segurança do atleta em mergulhos e movimentos defensivos,
                reduzindo o risco de lesões.
            </p>
        </div>

    </section>
</main>