<div class="texto">

</div>
<main>
  <h2 class="titulo">DESTAQUES</h2>
  <section class="produtos">

      <div class="produto" *ngFor="let produto of produtos">
        <img [src]="produto.imagem">

        <div class="produto-texto">
          <h3>{{ produto.nome }}</h3>
        </div>

        <div class="produto-preco">
          <p><b>{{ produto.preco | currency:'BRL':'symbol':'1.2-2'}}</b></p>
        </div>

        <button [routerLink]="['/produto', produto.id]">
          Comprar
        </button>
      </div>
  </section>
</main>